@keyframes alert-pulse {
  0%, 100% {
    background-color: rgb(220 38 38); /* red-600 */
  }
  50% {
    background-color: rgb(126, 19, 19); /* red-700 */
  }
}

.alert-animate-pulse {
  animation: alert-pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite,
             alert-scale 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes alert-scale {
  0%, 100% {
    transform: translate(-50%, 0) scale(1);
  }
  50% {
    transform: translate(-50%, 0) scale(1.05);
  }
}